header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(24);
  max-width: rem(1024);
  margin: 0 auto;
  img {
    width: rem(70);
    height: rem(50);
  }
  .login_util {
    ul {
      display: flex;
      gap: rem(10);
      li {
        img {
          width: rem(24);
          height: rem(24);
        }
      }
    }
  }
}